## Retrieving Data with SELECT
Need to specify two prices of information to use a SELECT statement: what you want and where you want to select it from

In [ ]:
SELECT prod_name
FROM Products;

Retrieving Multiple Columns

In [ ]:
SELECT  prod_name
        ,prod_id
        ,prod_price
FROM Products;

Retrieving Multiple Columns Using a Wildcard
Request all columns using the asterisk wildcard character instead of column names

If you database is large, you might only want to get a sample of the data. To do this, put:  
LIMIT _;

## Creating Tables

Tables make models and predictions. You can create dashboards, visualize data, and extract data.

Every column is either null or not null. An error will be returned if one tries to submit a column with no value. Primary keys cannot be null.

In [ ]:
CREATE TABLE Shoes
    (
        ID  char(10)    PRIMARY KEY,
        Brand char(10)  NOT NULL,
        Price decimal(8,2) NOT NULL,
        Desc    Varchar (750) NULL
    );

In [ ]:
INSERT INTO Shoes
    (
    ID,
    Brand,
    Desc,
    etc.
    )
VALUES 
    (
    '1232',
    'Gucci',
    NULL
    );

## Creating Temporary Tables

Why create temp tables? They will be deleted when session is terminated. They are facter than creating a real table, and are useful for complex queries

In [ ]:
CREATE TEMPORARY TABLE Sandals As 
(
    SELECT *
    FROM shoes
    WHERE shoe_type = 'sandals'
)

## Adding Comments to SQL

Single line: - - 

Section: /*  */

## Basics of filtering with SQL

Why filter?
- Be specific about the data you want to retrieve
- Reduce the number of records you retrieve
- Reduce the strain on the client application

Use the Where clause after select and from.

= -> Equal
<> -> not equal

BETWEEN -> Between a range
ISNULL -> is null

Can check for non-matches
- example: WHERE ProductName <> 'Alice Mutton';

Can also filter with a range of values

Ex: WHERE UnitsInStock Between 15 AND 80;

## Advanced Filtering IN, OR, and NOT

Use these to filter data

IN Operator
- specifies a range of conditions
- comma delimited list of values
- enclosed in ()

OR Operators
- will not evaluate the second conditions in a where clause if the first condition is met
- use for any rows matching the specific column

In works the same as OR

Benefits of IN
- Long list of options
- Executes faster
- Don't have to worry about the order
- Can contain another SELECT

In [ ]:
SELECT 
ProductID,
UnitPrice,
SupplerID,
From Products
WHERE SupplierID IN (9,10,11);

### OR with AND

There is a difference between
WHERE supplierID = 9 OR SupplierID = 11

and 

WHERE (supplierID = 9 OR SupplierID = 11)


Order of operations
- can contain AND and OR Operators
- SQL processes AND before OR
- use ()


## NOT Operator

- Use to disclude specific values

WHERE NOT City='London' AND NOT City='Seattle';

## Using Wildcards in SQL

- Special character used to match parts of a value
- Search pattern made from literal text, wildcard character, or a combo
- Uses LIKE as an operator (though technically a predicate)
- Can only be used with strings
- Cannot be used for non-text data types
- Helpful to explore string variables

Use % before, after, or both

'%Pizza' - grabs anything ending with the word pizza
'Pizza%' - grabs anything after the word pizza
'%Pizza%' - grabs anything before and after the word pizza

'S%E' - grabs anything that starts with S and ends with E
't%@gmail.com' - grabs gmail addresses that start with "t" (hoping to get emails that start with a t like Tom)

% wildcard will not match Nulls


### Underscore (_) Wildcard
- Matches a single character
- Is not supported by DB2

WHERE size LIKE'_pizza'

Bracket Wildcard
- Used to specify a set of characters in a specific location
- Does not work with all DBMS
- Does not work with SQLite

Downsides of Wildcards
- Takes longer to run
- Better to use another operator if possible
- Statements with wildcards will take longer to run if used at the end of search patterns
- Placement of wildcards is important

## Sorting with ORDER BY

- Data displayed appears in the order of the underlying tables
- Updated and deleted data can change this order
- Sequence of retrieved data cannot be assumed if order was not specified
- Cannot see all values

SELECT something
FROM database
ORDER BY characteristic

### Rules for ORDER BY
- Takes the name of one or more columns
- Add a comma after each additional column name
- Can sort by a column not retrieved
- Must always be the last clause in a SELECT statement

Sorting by Column Position

ORDER BY 2,3
2 means 2nd column, 3 means 3rd column

Sort Direction
- DESC descending Order
- ASC ascending order
Only applies to the column names it directly precedes

## Math Operators

Addition, Subtraction, Multiplication, Division

Order of Operations: Follows PEMDAS

In [ ]:
SELECT
ProductID,
UnitsOnOrder,
UnitPrice,
UnitsOnOrder * UnitPrice AS Total_Order_Cost
FROM Products

## Aggregate Functions

- Provide ways to summarize data
- Used to summarize data
- Finding the highest and lowest values
- Finding the total number of rows
- Finding the average

- AVG()
- COUNT()
- MIN()
- MAX()
- SUM()

- COUNT(*) Count gets all the rows in a table containing values or Null
- Count(column) - counts all the rows in a specific column ignoring NULL values

In [ ]:
SELECT AVG(UnitPrice) AS avg_price
FROM products

SELECT COUNT(*) AS 
total_customer
FROM customer

SELECT COUNT(customerID) AS 
total_customer
FROM total_customer


SELECT MAX(UnitPrice) AS max_prod_price
FROM Products


SELECT MAX(UnitPrice) AS max_prod_price
,MIN(UnitPrice) AS max_prod_price
FROM Products

## Grouping Data with SQL

Grouping Example: Counts customers after group on region rather than counting the whole table

GROUP BY clauses can contain multiple columns

Every column in your SELECT statment must be present in a GROUP BY clause except for aggregated calculations

NULLs will be grouped together if your GROUP BY column contains NULLs

In [ ]:
SELECT 
Region
,COUNT(CustomerID) AS total_customers
FROM Customer 
GROUP BY Region;

HAVING Clause - Filtering for Groups
- Where does not work for groups
- WHERE filters on rows
- Instead use HAVING clause to filter for groups

In [ ]:
SELECT 
CUSTOMERID 
, COUNT (*) AS orders
FROM Orders
GROUP BY CustomerID 
HAVING COUNT (*) >= 2

- WHERE Filters before data is grouped
- HAVING filters after data is grouped
- Rows eliminated by the WHERE clause will not be a included in the group

ORDER BY with GROUP BY

- ORDER BY sorts data
- GROUP BY does not sort data

In [ ]:
SELECT SupplierID
,COUNT(*) AS Num_Prod
FROM Products
WHERE UnitPrice >= 4
GROUP BY SupllierID
HAVING COUNT (*) >= 2;

## Filtering is useful

- Narrowing down your results
- Increasing query and application performance
- Understanding your data


- KEY SQL Clauses:
- SELECT, columns or expressions to be returned
- FROM, table from which to retrieve data
- WHERE, row level filtering
- GROUPBY, group specification
- HAVING, group level filter
- ORDER BY, output sort order

In [ ]:
SELECT
distinct Extended_step
FROM salary_range_by_job_classification

Select 
min(Biweekly_high_Rate)
From salary_range_by_job_classification
WHERE NOT Biweekly_high_Rate = "$0.00"

Select
job_code,
pay_type
From salary_range_by_job_classification
WHERE job_code LIKE '03%'


SELECT 
Job_Code,
Step
FROM salary_range_by_job_classification
ORDER BY Job_Code ASC


SELECT
Job_Code,
Biweekly_High_Rate,
Biweekly_Low_Rate,
Biweekly_High_Rate - Biweekly_Low_Rate AS Diff
FROM salary_range_by_job_classification
WHERE Job_Code = '0170'

Module 2 Test

In [ ]:
SELECT
Name,
Milliseconds
FROM Tracks
WHERE Milliseconds >= 4999999

SELECT 
InvoiceId,
Total
FROM Invoices 
WHERE Total BETWEEN 4.99 AND 15.01;


SELECT
FirstName,
LastName,
Company
FROM Customers
WHERE State IN ("RJ","DF","AB","BC","CA","WA","NY")


SELECT 
InvoiceID,
CustomerID,
InvoiceDate,
Total
FROM Invoices
WHERE Total BETWEEN 1.00 AND 5.00
AND CustomerID IN (56,58)


SELECT 
Name
FROM Tracks
WHERE name LIKE 'All%'


SELECT
Email
FROM Customers
WHERE Email LIKE 'j%@gmail.com'


SELECT
InvoiceID,
BillingCity,
Total
FROM Invoices
WHERE BillingCity IN ("BrasÃ­lia","Edmonton","Vancouver")
ORDER BY InvoiceID DESC


SELECT 
distinct CustomerID,
COUNT(CustomerID) as "Num"
FROM Invoices
GROUP BY CustomerID

SELECT 
AlbumID,
COUNT(AlbumID) AS Num_Songs
FROM Tracks
GROUP BY AlbumID
HAVING Num_Songs >= 12

## Using Subqueries

What are Subqueries?
- Queries embedded into other queries
- Relational databases store data in multiple tables
- Subqueries merge data from multiple sources together
- Helps with adding other filtering criteria

Can select specific records or columns and then use that criteria as a filtering criteria for the next thing they want to select

Combined for a subquery
- Need to know the region each customer is from who has had an order with freight over 100

In [ ]:
SELECT 
CustomerID,
CompanyName,
Region
FROM Customers 
WHERE customerID IN (SELECT customerID
                        FROM Orders 
                        WHERE Freight > 100)

In the above example, it always performs the innermost SELECT portion first.

DBMS is performing two operations:
1. Getting the order numbers for the product selected
2. Adding that to the WHERE Clause and processing the overall SELECT statement

## Subquery best practices and considerations

- There is no limit to the number of subqueries you can have
- Performance slows when you nest too deeply
- Subquery selects can only retrieve a single column

Subquery in subquery
1. Order Number for toothbrushes
2. Customer ID's for those orders
3. Customer information for those orders

PoorSQL website - website will pre-format code

In [ ]:
SELECT Customer_name, Customer_contact
FROM Customers
WHERE cust_id IN 
    SELECT customerID
    FROM Orders
    WHERE order_number IN (SELECT order_number 
        FROM OrderItems
            WHERE prod_name = 'Toothbrush');

## Subqueries for calculations

Total number of orders placed by every customer:

In [ ]:
SELECT customer_name,
        customer_state
        (SELECT COUNT (*) AS orders 
        FROM Orders 
        WHERE Orders.customer_id =
    Customer.customer_id) AS orders
    FROM customers
    ORDER BY Customer_name

## Joining Tables: An Introduction

Benefits of breaking data into tables
- Efficient storage
- Easier manipulation
- Greater scalability
- Logically models a process
- Tables are related through common values (keys)

### Joins
- Associate correct records from each table on the fly
- Allows data retrieval from multiple tables in one query
- Joins are not physical - they persist for the duration of the query execution

### Cartesian (Cross) Joins

- CROSS Joins: each row from the first table joins with all the rows of another table
- Not frequently used
- Computationally taxing
- Will return products with the incorrect vendor or no vendor at all

In [ ]:
/*Cross Join example*/
SELECT product_name,
unit_price,
company_name,
FROM suppliers CROSS JOIN products;
/*Output will be the number of joins in the first table multiplied by the number of rows in the second table*/

### Inner Joins
The INNER JOIN keyword selects records that have matching values in both tables

In [ ]:
SELECT supplier.CompanyName,
ProductName,
UnitPrice,
FROM Supplier INNER JOIN Products 
ON Suppliers.supplierid = Products.supplierid

### INNER Join Syntax
- Join type is specified (INNER JOIN)
- Join condition is in the FROM clause and uses the ON clause
- Joining more tables together affects overall database performance
- You can join multiple tables, no limit
- List all the tables, then define conditions

In [ ]:
SELECT o.OrderID, c.CompanyName, e.LastName
FROM ((Orders o INNER JOIN Customers c ON o.CustomerID = c.CustomerID)
INNER JOIN Employees e on o.EmployeeID = e.EmployeeID);

## Aliases and Self Joins

- SQL aliases give a table or a column a temporary name
- Make column names more readable
- An alias only exists for the duration of the query

In [ ]:
SELECT vendor_name,
produce_name,
product_price
FROM Vendors AS v, Products as p 
WHERE v.vendor_id = p.vendor_id;

## Self Joins
- Match customers from the same city
- Take the table and treat it like two separate tables
- Join the original table to itself

In [ ]:
SELECT A.CustomerName AS 
CustomerName1, B.CustomerName AS 
CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID = B.CustomerID 
AND A.City = B.City
ORDER BY A.City;

## Advanced Joins: Left, Right, and Full Outer Joins

SQL Lite only does Left Joins
Other database management systems use all joins

Left Join 
- Returns all records from the left table and the matched records from the right side
- The result is NULL from the right side if there is no match


Right Join
- Returns all records from the right table (Table2) and the matched records from the left table (table 1)
- The result is NULL from the left side if there is no match

The table you list first is acted upon by the type of join you use

Full outer join
- Return all records when there is a match in either left (table1) or right (table2) table records

In [ ]:
SELECT C.CustomerName, O.OrderID
FROM Customers c 
LEFT JOIN Orders O ON C.CustomerID = O.CustomerID 
ORDER BY C.CustomerName

In [ ]:
SELECT Orders.OrderID 
Employees.LastName,
Employees.FirstName

FROM Orders 

RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID

In [ ]:
SELECT Customers.CustomerName, Orders.OrderID 
FROM Customers 
FULL OUTER JOIN Orders ON Customers.CustomerID = Orders.CustomerID 
ORDER BY Customers.CustomerName;

## Unions 

- The UNION operator is used to combine the result-set of two or more SELECT statements.
- Each SELECT statment within UNION must have the same number of columns
- Columns must have similar data types
- The columns in each SELECT statement must be in the same order

In [ ]:
SELECT column_name(s) FROM Table 1
UNION 
SELECT column_name(s) FROM Table 2

In [ ]:
SELECT City, Country FROM Customers 
WHERE Country='Germany'
UNION
SELECT City, Country FROM Suppliers
WHERE Country = 'Germany'
ORDER BY City;

Practice Test

In [ ]:
SELECT artists.ArtistID, artists.Name, albums.Title, albums.AlbumID
FROM artists
INNER JOIN albums ON artists.ArtistID=albums.ArtistID
WHERE artists.Name = 'Led Zeppelin'


SELECT tracks.Name, albums.ArtistID
FROM albums
INNER JOIN tracks ON albums.AlbumId=tracks.AlbumId
WHERE albums.ArtistID = 8


SELECT customers.CustomerID, invoices.InvoiceID, customers.FirstName, customers.LastName
FROM customers
INNER JOIN invoices ON customers.CustomerID=invoices.CustomerID
/*WHERE InvoiceID IS NULL */


SELECT albums.Title, albums.AlbumId, tracks.Name, tracks.UnitPrice
FROM albums
INNER JOIN tracks ON albums.AlbumId=tracks.AlbumId
WHERE albums.Title="Big Ones"

SELECT InvoiceDate,BillingAddress
FROM invoices
CROSS JOIN invoice_items;

### Best Practices using joins
- It is easy to get results - you mist make sure they are the right results
- Check the number of records
- Check for duplicates
- Check the number of records each time you make a new join
- Are you getting the results you expected?
- Start small: one table at a time

In [ ]:
SELECT Albums.AlbumId, Albums.Title, Tracks.Name
FROM Albums
INNER JOIN Tracks ON Albums.AlbumId=Tracks.AlbumId
WHERE Albums.Title = "Californication"

SELECT FirstName, LastName, Email
FROM Customers

SELECT Albums.AlbumId, Albums.Title, Albums.ArtistId, Tracks.Name
FROM Albums
INNER JOIN Tracks ON Albums.AlbumId=Tracks.AlbumId
WHERE Tracks.TrackId=12

SELECT EmployeeId, FirstName, LastName, ReportsTo
FROM Employees

SELECT Artists.Name, Artists.ArtistId, Artists.Name, Albums.Title
FROM Artists 
INNER JOIN Albums On Artists.ArtistId=Albums.ArtistId
/*GROUP BY Albums.Title
HAVING COUNT(Albums.Title) > 1*/

SELECT Artists.ArtistId, Artists.Name, Albums.Title
FROM Artists 
LEFT JOIN Albums On Artists.ArtistId=Albums.ArtistId
WHERE Albums.AlbumId IS NULL
GROUP BY Artists.Name
Order BY COUNT(Artists.Name)


SELECT C.City, 
        C.CustomerId, 
        C.FirstName
FROM Customers as C
JOIN Invoices i ON C.CustomerId=i.CustomerId 
WHERE C.City <> i.BillingCity;

## Working with Text Strings

- Retrieve the data in the format you need (Client vs. Server formatting)
- Support Joins
- String Functions:
    - Concatenate
    - Substring - returns the specified number of characters from a particular position of a given string - SUBSTR(string name, string position, number of characters to be returned)
    - Trim - TRIM, RTRIM, LTRIM
    - Upper 
    - Lower

In [ ]:
SELECT 
CompanyName
, ContactName,
, CompanyName || '('|| ContactName||')'

In [ ]:
SELECT TRIM("    You the best.    ") AS TrimmedString;

In [ ]:
SELECT FIRST_NAME, 
SUBSTR (first_name,3,4)
FROM employees
WHERE department_id=100;

In [ ]:
SELECT UPPER(column_name) FROM table_name;

SELECT LOWER(column_name) FROM table_name;

SELECT UCASE(column_name) FROM table_name;

## Working with Date and Time strings

- Dates are stored as datetype
- Each DBMS uses it's own variety of datatypes
- DATE: YYYY-MM-DD
- DATETIME: YYYY-MM-DD HH:MI:SS
- TIMESTAMPS: YYYY-MM-DD HH:MI:SS

Modifiers
- NNN days  start of year
- NNN hours start of day
- NNN minutes weekday N

- STRFTIME extracts certain parts of a date and time string

## Date and Time String Examples

In [ ]:
SELECT Birthdate
,STRFTIME('%Y', Birthdate) AS Year
,STRFTIME('%m', Birthdate) AS Month
,STRFTIME('%d', Birthdate) AS Day
FROM employees

### COMPUTE Current Date

In [ ]:
SELECT DATE('now')

SELECT STRFTIME('%Y %m %d', 'now')

## Case Statments

- Mimics if-then-else statement found in most programming languages
- Can be used in SELECT, INSERT, UPDATE, and DELETE dtatments

In [ ]:
CASE 
WHEN C1 THEN E1
WHEN C2 THEN E2

ELSE [result else]
END

In [ ]:
SELECT 
employeeid,
firstname,
lastname,
city
CASE City
    WHEN 'Calgary' THEN 'Calgary'
ELSE 'Other' 
    END calgary 
FROM Employees
ORDER BY Lastname, Firstname

## Search Case Statement

In [ ]:
CASE WHEN Boolean_expression
THEN result_expression [..n]
[ ELSE else_result_expression ]
END

In [ ]:
SELECT 
trackid,
name,
bytes,
CASE 
    WHEN bytes < 300000 THEN 'small'
    WHEN bytes >= 300001 AND bytes <= 500000 THEN 'medium'
    WHEN bytes >= 500001 THEN 'large'
    ELSE 'Other'
    END bytescategory
FROM tracks;

## Views

- A stored query
- Can add or remove columns without changing schema
- Use it to encapsulate queries
- The view will be removed after database connection has ended

In [ ]:
CREATE [TEMP] VIEW [IF NOT EXISTS] 
view_name(column-name-list) 
AS 
select-statement;

In [ ]:
CREATE VIEW my_view
AS 
SELECT
r.regiondescription
, t.territorydescription
, e.Lastname
, e.Firstname
, e.Hiredate
, e.Reportsto
FROM Region r
INNER JOIN Territories t on r.regionid = t.regionid
INNER JOIN Employeeterritories et on t.TerritoryID = et.TerritoryID
INNER JOIN Employees e on et.employeeid = e.EmployeeID

To actually view the data though:

In [ ]:
SELECT *
FROM my_view
DROP VIEW my_view;

Get a count of how many territories each employee has

In [ ]:
SELECT count(territorydescription)
, Lastname
, Firstname
FROM my_view
GROUP BY Lastname, Firstname;

## Data Governance and Profiling 

What is data profiling?
- Looking at descriptive statistics or object data information - examining data for completeness and accuracy
- Important to understand your data before you query it

- Number of rows
- Table size
- When the object was last updated

Column Data Profile
- Column data type
- Number of distinct values
- Number of rows with NULL values
- Descriptive statistics: maximum, average, and standard deviation for column values

Governance Best Practices
- Understand your read and write capabilities
- Clean up your environments
- Understand your promotion process

## Using SQL for Data Science

- Data understanding
    - Most important step
    - Understanding relationships in your data
    - NULL values
    - String values
    - Dates and times
- Business understanding
    - Understanding where data joins are
    - Differentiating integers from strings
    - Investing time to understand your subject
    - Hard to separate data and business understanding
- Profiling
    - Get into the details of your data
    - Create a data model and map the fields and tables you need
    - Consider joins and calculations
    - Understand any data quality or format issues
- Start with SELECT
- TEST
    - Don't wait to end to test queries 
    - Test after each join
    - Start small and go step by step when troubleshooting a query
- Format and Comment
    - Use correct formatting and identation
    - Comment strategically
    - Clean code and comments help when you revisit or hand off code
- Review
    - Business riles
    - Data changes
    - Date indicators
    - Work the problem from beginning to end

Beware of the Unspoken Need - questions like which customers, what product, what is/should be excluded

Module 4 Coding

In [ ]:
SELECT CustomerId, 
FirstName, 
LastName, 
City, 
UPPER(City) || UPPER(Country)
FROM Customers


SELECT
EmployeeId,
FirstName,
LastName, 
SUBSTR(FirstName,1,4),
SUBSTR(LastName,1,2),
LOWER (SUBSTR(FirstName,1,4) || SUBSTR(LastName,1,2))
FROM Employees


SELECT 
FirstName,
LastName,
HireDate,
STRFTIME('%Y', HireDate) AS Year,
STRFTIME('%Y', 'now') - STRFTIME('%Y', HireDate) AS Num_Years
FROM Employees
WHERE Num_Years >= 15
ORDER BY LastName Asc


SELECT count(*) FROM Customers WHERE PostalCode IS NULL 
UNION ALL
SELECT count(*) FROM Customers WHERE PostalCode IS NOT NULL


SELECT City, COUNT(*) 
FROM Customers
GROUP BY City
ORDER BY COUNT(*) DESC


SELECT
FirstName || LastName || I.InvoiceID AS NewID
FROM Customers C
INNER JOIN Invoices I ON C.CustomerId=I.CustomerId
WHERE NewID LIKE 'AstridGruber%'